@model List<IdentityRole>
@{
    ViewData["Title"] = "Index";
}

<h1>Admin page</h1>
<a asp-action="Create" class="btn btn-primary mt-4 mb-4">Create new role</a>

<table class="table table-striped table-hover my-table">
    <thead>
        <tr>
            <th>Role:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (IdentityRole role in Model)
        {
            <tr>
                @if (@role.Name != "SuperAdmin")
                {

                    <td>
                        @role.Name
                    </td>

                    @if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin") && role.Name != "Admin")
                    {
                        <td><a asp-action="ManageUserRoles" asp-route-id="@role.Id">Manage</a></td>

                    }
                }
            </tr>
        }
    </tbody>
</table>