<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MvcData</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    
    <link rel="stylesheet" href="~/lib/font-awesome/css/fontawesome.css" />
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/regular.min.css">
    <link rel="stylesheet" href="~/lib/Font-Awesome/css/solid.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

        <nav class="navbar navbar-expand-lg navbar-custom navbar-light  mb-3 font-weight-bold w-100 box-shadow p-4">

            <a class="navbar-brand mr-4" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse collapse">
                <ul class="navbar-nav mr-auto ">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="People" asp-action="Index">People</a>
                        </li>
                    }

                    @if (User.IsInRole("Admin") || User.IsInRole("SuperAdmin"))
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Admin" asp-action="Index">Roles</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Ajax" asp-action="Index">Ajax-list</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Country" asp-action="Index">Countries</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="City" asp-action="Index">Cities</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Language" asp-action="Index">Languages</a>
                        </li>

                    }
                </ul>
                <ul class="navbar-nav ml-auto ">

                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item ">
                            <a class="nav-link">
                                <i class="fas fa-user-alt"></i>
                                @User.Identity.Name
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link  " asp-area="" asp-controller="Account" asp-action="Logout"><i class="fas fa-sign-out-alt"></i>Logout</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="RegisterUser"><i class="fas fa-pen mr-1"></i>Register</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " asp-area="" asp-controller="Account" asp-action="Login"><i class="fas fa-sign-in-alt  mr-1"></i>Login</a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
   

    <div class="container d-flex align-items-center justify-content-center text-center">
        <main role="main" class=" w-75 d-flex-column ">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted footer-custom">
        <div class="container">
            &copy; 2021 - Sara Stjernberg
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
