@model List<Person>


<div class="row font-weight-bold mt-4 text-left">
    <div class="col-4">Name</div>
    <div class="col-4">City </div>
    <div class="col-2"></div>
    <div class="col-2"></div>
</div>

@foreach (Person person in Model)
{
    <partial name="_PeopleDisplay" model="person" />

}
