@model Person

<div class="row">
    <div class="col-5">@Model.Name</div>
    <div class="col-5 mt-2">@Model.City </div>

    <button class="col-2 btn btn-info mt-2">@Html.ActionLink("Details", "Details", "People", new { id = Model.Id }, new { @style = "color:#fff;" })</button>

    </div>