@model Person

<div class="row text-left">
    <div class="col-5">@Model.Name</div>
    <div class="col-5 mt-2">@Model.City </div>

    <div class="col-2"> @Html.ActionLink("Details", "Details", "People", new { id = Model.Id }) &#187;</div>

</div>

