
@model List<City>
    @{
    ViewData["Title"] = "Index Cities";
    }

    <h1>City List</h1>

    <a asp-action="Create" class="btn btn-primary mt-4">Add new city</a>

    <div class="row font-weight-bold mt-4 text-left">
        <div class="col-5">City</div>
        <div class="col-2"></div>
    </div>

    @foreach (City city in Model)
{
    <partial name="_CityDisplay" model="city" />

}
