@model List<Country>


<div class="row font-weight-bold mt-4 text-left">
    <div class="col-5">Country</div>    
    <div class="col-2"></div>
</div>

@foreach (Country country in Model)
{
    <partial name="_CountryDisplay" model="country" />

}
