@model CreateCountryViewModel

@{
    ViewData["Title"] = "Edit country";
}

<h1>Edit Country</h1>

<form asp-action="Edit" method="post" asp-route-id="@ViewBag.Id">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    
    <a asp-action="Index" class="btn btn-info">Back to Country List</a>
    <button class="btn btn-primary">Update</button>

</form>
