@model CreateLanguageViewModel

@{
    ViewData["Title"] = "Edit country";
}

<h2 class="mb-3">Edit Language</h2>
<div class="w-50  mx-auto">
    <form asp-action="Edit" method="post" class="flex-form" asp-route-id="@ViewBag.Id">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input type="text" class="form-control"  asp-for="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="d-flex">
            <a asp-action="Index" class="btn btn-info mr-2">Back to List</a>
            <button class="btn btn-primary">Update</button>
        </div>

    </form>
    </div>
