
@model CreatePersonViewModel

<h1>Add a person</h1>

<form asp-action="Create" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name"  />
    <span asp-validation-for="Name"></span>
     <label asp-for="PhoneNr"></label>
    <input asp-for="PhoneNr"/>
    <span asp-validation-for="PhoneNr"></span>
    <label asp-for="City"></label>
    <input asp-for="City" />
    <span asp-validation-for="City"></span>

    <button>Submit</button>
</form>
