@model Person
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>


<div class="row font-weight-bold mt-3 d-flex-column align-items-stretch" >
    <div class="col-5 mt-3">Name</div>
    <div class="col-5 mt-3">City</div>
    <div class="col-2 mt-3">Phone nr</div>
</div>
<div class="row">
    <div class="col-5 mt-3">@Model.Name</div>
    <div class="col-5 mt-3">@Model.City</div>
    <div class="col-2 mt-3">@Model.PhoneNr</div>
</div>


<a asp-action="PersonData" class="btn btn-info  mt-4 mr-3">Back to list of people.</a>
<a class="btn btn-danger mt-4 ml-3" asp-controller="People" asp-action="Delete" asp-route-id="@Model.Id">Delete person</a>
