
@model List<Person>


<h1 class="mb-3">People List</h1>

<a asp-action="Create" class="btn btn-primary mr-4">Add a person</a>

<div class="row font-weight-bold mt-4 text-left">
    <div class="col-5">Name</div>
    <div class="col-5">City </div>
    <div class="col-2"></div>
</div>

@foreach (Person person in Model)
{
    <partial name="_PeopleDisplay" model="person" />
}


<div class=" mt-5 w-50 ml-5">
    <form class="form-group" asp-action="Index" asp-controller="People" method="post">
        <label for"search" class="mr-1 ">Search list by:</label>
        <div class="form-check" mb-3">
            <label for="name">Name</label>
            <input checked="checked"
                   class="mr-2 "
                   id="type"
                   name="type"
                   type="radio"
                   value="name" />
            <label for="city">City</label>
            <input id="type"
                   name="type"
                   type="radio"
                   value="city" />
        </div>
        <div class="input-group mt-2">
            <input class="form-control " type="text" id="search" name="search" />
            <button type="submit" class="btn btn-info">Search</button>
        </div>
    </form>
    <form class="form-group mt-5" asp-action="SortList">
        <div class="input-group">
            <select name="sorting" id="sorting" class="form-control mb-2">
                <option value="nameAsc">Name asc</option>
                <option value="nameDes">Name des</option>
                <option value="cityAsc">City asc</option>
                <option value="cityDes">City des</option>
            </select>
            <button class="btn btn-info mb-2 ">Sort list</button>
        </div>
    </form>
</div>
