
@model List<Person>

<h1 class="mb-3">People List</h1>

<a asp-action="Create" class="btn btn-primary mr-4">Add a person</a>

@*<div class="row font-weight-bold mt-4 text-left">
        <div class="col-5">Name</div>
        <div class="col-5">City </div>
        <div class="col-2"></div>
    </div>

    @foreach (Person person in Model)
    {
        <partial name="_PeopleDisplay" model="person" />
    }*@
<button onclick="getPeopleList('@Url.Action("ShowList", "People")')" class="btn btn-primary">Get list of people</button>
<div id="result"></div>

<div class="d-flex justify-content-center mt-4">
    <form class="form-inline" asp-action="ShowList" asp-controller="People" method="post">
        <label for"search" class="mr-1 ">Search list:</label>
        <input class="form-control mr-1" type="text" id="search" name="search" />
        <button type="submit" class="btn btn-info">Search</button>
    </form>
    
</div>