
@model List<Person>


<h1>People List</h1>

<a asp-action="Create">Add a person</a>

<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>City</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Person person in Model)
        {
            <tr>
                <td>@person.Name</td>
                <td>@person.City</td>
                <td> @Html.ActionLink("Details", "Details", "People", new { id = person.Id })</td>
            </tr>
        }
    </tbody>

</table>

<form asp-action="PersonData" asp-controller="People" method="post">
    <label for"search">Search list.</label>
    <input type="text" id="search" name="search" />
    <button type="submit">Search</button>
</form>